<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {{#if title}}
    <title>{{title}} - melody</title>
  {{else}}
    <title>melody</title>
  {{/if}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/cosmo/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style/layout.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  {{{body}}}
  <!-- jQuery and bootstrap js -->
  <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="/scripts/device.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/socket.io-stream.js"></script>
  <script>
    var socket = io.connect("{{config.host}}");
  </script>
  <script src="/scripts/notes.js"></script>
</body>
</html>