@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
     -moz-box-sizing: $box-model;
          box-sizing: $box-model;
}

.jumbotron {
  background: #eeeeee;
}
.navbar {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.navbar-static-top {
  margin-bottom: 0;
}

// fix responsive navbar dropdown
.container > .navbar-header, .container > .navbar-collapse {
  background: white;
}
.navbar-toggle .icon-bar {
  background-color: black;
}

form.bare {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;

  h2 {
    padding-bottom: 20px;
  }
  .form-group {
    margin: 0;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  p {
    margin: 15px auto 0 auto;
  }
}

.flush {
  /* helper class to remove all margins */
  margin: 0 !important;
}

/* note previews in column view */

@mixin column-count($n) {
  -webkit-column-count: $n;
     -moz-column-count: $n;
          column-count: $n;
}
@mixin column-gap($gap) {
  -webkit-column-gap: $gap;
     -moz-column-gap: $gap;
          column-gap: $gap;
}
@mixin column-fill($fill) {
  -webkit-column-fill: $fill;
     -moz-column-fill: $fill;
          column-fill: $fill;
}
@mixin break-inside($break) {
  -webkit-column-break-inside: $break;
     -moz-column-break-inside: $break;
          column-break-inside: $break;
         -webkit-break-inside: $break;
            -moz-break-inside: $break;
                 break-inside: $break;
}

.dashboard {
  background: #eeeeee;

  .preview-container {
    @include column-count(1);
    @include column-gap(10px);
    @include column-fill(auto);
    width: 90%;
    margin: 20px auto;
    padding: 20px 0;
  }

  .preview-item {
    background: white;
    width: 100%;
    margin: 0 0 10px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    @include break-inside(avoid);
  }

  .text {
    padding: 10px;
  }
  img.preview {
    width: 100%;
  }

  @media screen and (min-width: 640px) {
    .preview-container {
      @include column-count(2);
    }
  }
  @media screen and (min-width: 992px) {
    .preview-container {
      @include column-count(3);
    }
  }
  @media screen and (min-width: 1200px) {
    .preview-container {
      @include column-count(4);
    }
  }
}
