<div class="container">
  <p>TODO: notes interface goes here.</p>

  <p>Logged in as {{user.email}} with name {{user.name}}.</p>
  <form method="post" action="/logout">
    <button class="btn btn-link" type="submit">Log out</button>
    <input type="hidden" name="_csrf" value="{{token}}">
  </form>

  <p>Paste something (text/html/image data) to send it to the server.</p>

  <div id="noteContainer">
  	{{#each notes}}
  		<div class="note" id="{{this.shareId}}">
  			<button type="button" class="close" data-dismiss="alert" 
  				 aria-hidden="true">&times;</button>
  			{{#if this.data}}
  				{{{this.data}}}
  			{{else}}
  				<img src="/images/{{this.shareId}}" />
  			{{/if}}
  		</div>	
  	{{/each}}
  </div>
</div>
