<div class="container">
  <form class="form-register" role="form" action="#" method="POST">
    <h2>Sign up</h2>
    <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <input type="hidden" name="_csrf" value="{{token}}">

    <button class="btn btn-primary btn-block" type="submit">Create my account</button>

    <p>By signing up, you agree to the <a href="/terms">Terms of Service</a>.</p>
  </form>
</div>